@model System.Web.Mvc.HandleErrorInfo
@using Resources;
@{
    ViewBag.Title = @Resource.Txt_ErrorOccur;
}

<h1 class="text-danger">@Resource.Txt_ErrorOccur.</h1>
<h2 class="text-danger">@Resource.Txt_RequestError.</h2>

