@model System.Web.Mvc.HandleErrorInfo
@using Resources;
@{
    ViewBag.Title = Resource.Txt_Lockout;
}

<hgroup>
    <h1 class="text-danger">@Resource.Txt_Lockout.</h1>
    <h2 class="text-danger">@Resource.Txt_AccountLockout.</h2>
</hgroup>
