@using Resources;
@{
    ViewBag.Title = Resource.Txt_ResetConfirm;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        @Resource.Txt_ResetPassToLogin1 @Html.ActionLink(Resource.Txt_ResetPassToLogin2, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
